<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title translate>TITLE.WELCOME<span> {{(this.userService.user$ | async)?.name}}</span>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item>
    <!-- <ion-badge (click)="daysSober()" color="primary">69 days sober</ion-badge>
    <ion-badge color="primary">1.08.24.34 days</ion-badge> -->
    <ion-button>Join a Meeting</ion-button>
  </ion-item>

  <!-- <ion-card>
    <ion-card-header>
      <ion-card-title>Friends</ion-card-title>
    </ion-card-header>

    <ion-card-content>
      <ion-list *ngFor="let friend of friends">
        <ion-item>
          <ion-label>{{friend.name}}</ion-label>
          <ion-label>{{friend.avatar}}</ion-label>
          <ion-label>{{friend.online}}</ion-label>
          <ion-button (click)="videoWithFriend(friend)">1:1</ion-button>
          <ion-button (click)="chatWithFriend(friend)">Chat</ion-button>
        </ion-item>
      </ion-list>
    </ion-card-content>
  </ion-card> -->

  <ion-card>
    <ion-card-header>
      <ion-card-title>Favorites</ion-card-title>
    </ion-card-header>

    <ion-card-content>
      <ion-list *ngFor="let meeting of live">
        <ion-item>
          <ion-label>{{meeting.name}}</ion-label>
          <ion-label>{{meeting.topic}}</ion-label>
          <ion-label>{{meeting.participants}}</ion-label>
          <ion-label>{{meeting.remainingMinutes}}</ion-label>
          <ion-button (click)="joinMeeting(meeting)">Join</ion-button>
          <!-- <ion-button (click)="chatWithFriend(friend)">Chat</ion-button> -->
        </ion-item>
      </ion-list>
    </ion-card-content>
  </ion-card>

  <!-- <ion-card> -->
    <!-- <ion-card-header>
      hello, world -->
      <!-- <ion-card-title>{{group.name}} ({{group.type}})</ion-card-title>
      <ion-card-subtitle>{{group.tagsString}}</ion-card-subtitle> -->
    <!-- </ion-card-header> -->

    <!-- <ion-item>
      <ion-icon slot="start" name="calendar-outline"></ion-icon>
      <ion-label translate>GROUP.STARTED</ion-label>
      <ion-text>{{group.started}}</ion-text>
    </ion-item>

    <ion-item>
      <ion-icon slot="start" name="arrow-up-circle-outline"></ion-icon>
      <ion-label translate>LAST.ACTIVITY</ion-label>
      <ion-text>{{group.lastActivity}}</ion-text>
    </ion-item>

    <ion-item>
      <ion-icon slot="start" name="people-outline"></ion-icon>
      <ion-label translate>GROUP.MEMBERS</ion-label>
      <ion-text>{{group.memberCount}}</ion-text>
    </ion-item>

    <ion-item>
      <ion-icon slot="start" name="calendar-outline"></ion-icon>
      <ion-label translate>GROUP.YEARS.SOBRIETY</ion-label>
      <ion-text>{{group.yearsSobriety}}</ion-text>
    </ion-item>

    <ion-item>
      <ion-icon slot="start" name="people-circle-outline"></ion-icon>
      <ion-label translate>GROUP.MEMBERS.ONLINE</ion-label>
      <ion-text>{{group.membersOnline}}</ion-text>
    </ion-item> -->

    <!-- <ion-card-content *ngFor="let friend of friends$ | async">
      <ion-item>
        <ion-icon slot="start" name="calendar-outline"></ion-icon>
        <ion-label></ion-label>
        <ion-text></ion-text>
      </ion-item>

      <ion-item>
        Friend Name
        Online Status Indicator
        Current Meeting if any
        Go to Chat
        Go to 1:1
      </ion-item>

    </ion-card-content>

  </ion-card> -->

  <!-- <ion-item>
    <ion-button>Start a Meeting</ion-button>
  </ion-item> -->

  <ion-item>
    <p>
      AnonymousMeetings relies on your support to fund it's 
      development.  If you find it useful and motivating to
      get and remain in recovery, please consider supporting the
      app by buying me a coffee.  Any tip given will
      also remove all advertisements from the app.
  </p>
    <a href="https://www.buymeacoffee.com/mikkimichaelis"><img
        src="https://img.buymeacoffee.com/button-api/?text=Please buy me a coffee&emoji=&slug=mikkimichaelis&button_colour=f4a4c0&font_colour=000000&font_family=Cookie&outline_colour=000000&coffee_colour=FFDD00"></a>
  </ion-item>

</ion-content>