<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title translate>TITLE.WELCOME<span> {{(this.userService.user$ | async)?.name}}</span>
    </ion-title>
    <ion-buttons slot="end">
      <ion-icon slot="end" name="share-outline" style="margin-right: 50px;" (click)="share()"></ion-icon>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-card *ngIf="homeMeeting">
    <ion-card-header>
      <ion-item>
        <ion-label style="color:rgb(196, 61, 196)">
          <h1 translate>HOME.MEETING</h1>
        </ion-label>
        <ion-icon slot="end" name="information-circle-outline" (click)="viewHomeMeeting()"></ion-icon>
      </ion-item>
    </ion-card-header>

    <ion-card-content>
      <ion-list>
        <ion-item-sliding>
          <ion-item>
            
            <ion-label text-wrap style="color:rgb(76, 194, 60)">{{userService.user.homeMeeting.name}}</ion-label>
            <ion-icon slot="end" name="infinite-outline" *ngIf="userService.user.homeMeeting.continuous"></ion-icon>
            <ion-item slot="end">
              <ion-label *ngIf="!userService.user.homeMeeting.continuous">
                {{userService.user.homeMeeting.startTimeFormatLocal | date:'h:mm a EEEE'}}</ion-label>
              <ion-icon name="videocam-outline" *ngIf="userService.user.homeMeeting.isLive"></ion-icon>
            </ion-item>
            <!-- <ion-icon slot="end" name="heart-outline" (click)="addFavorite(userService.user.homeMeeting)" *ngIf="!isFavorite(userService.user.homeMeeting)">
            </ion-icon>
            <ion-icon slot="end" name="heart" (click)="removeFavorite(userService.user.homeMeeting)" *ngIf="isFavorite(userService.user.homeMeeting)"></ion-icon> -->
          </ion-item>
          <ion-item-options side="end">
            <ion-item-option (click)="removeHomeMeeting(userService.user.homeMeeting)">Remove</ion-item-option>
            <ion-item-option (click)="viewMeeting(userService.user.homeMeeting)">Info</ion-item-option>
            <ion-item-option (click)="joinMeeting(userService.user.homeMeeting)"
              *ngIf="(userService.user$ | async).homeMeeting.isLive">Join</ion-item-option>
          </ion-item-options>
        </ion-item-sliding>
      </ion-list>
    </ion-card-content>
  </ion-card>

  <ion-card *ngIf="showFavoriteMeetings">
    <ion-card-header>
      <ion-item>
        <ion-label style="color:rgb(196, 61, 196)">
          <h1 translate>FAVORITE.MEETINGS</h1>
        </ion-label>
        <ion-icon slot="end" name="list-outline" (click)="viewFavorites()"></ion-icon>
      </ion-item>
    </ion-card-header>

    <ion-card-content>
      <ion-list *ngFor="let favorite of meetingService.favoriteMeetings$ | async">
        <ion-item-sliding>
          <ion-item>
            
            <ion-label style="color:rgb(76, 194, 60)" text-wrap>{{favorite.name}}</ion-label>

            <ion-icon slot="end" name="infinite-outline" *ngIf="favorite.continuous"></ion-icon>
            <ion-item slot="end">
              <ion-label *ngIf="!favorite.continuous">{{favorite.startTimeFormatLocal | date:'h:mm a EEEE'}}
              </ion-label>
              <ion-icon name="videocam-outline" *ngIf="favorite.isLive"></ion-icon>
            </ion-item>

            <!-- <ion-icon slot="end" name="heart-outline" (click)="addFavorite(favorite)" *ngIf="!isFavorite(favorite)">
            </ion-icon>
            <ion-icon slot="end" name="heart" (click)="removeFavorite(favorite)" *ngIf="isFavorite(favorite)">
            </ion-icon> --->
          </ion-item>
          <ion-item-options side="end">
            <ion-item-option (click)="removeFavorite(favorite)">Remove</ion-item-option>
            <ion-item-option (click)="viewMeeting(favorite)">Info</ion-item-option>
            <ion-item-option (click)="joinMeeting(favorite)" *ngIf="favorite.isLive">Join</ion-item-option>
          </ion-item-options>
        </ion-item-sliding>
      </ion-list>
    </ion-card-content>
  </ion-card>

  <ion-card *ngIf="showLiveMeetings">
    <ion-card-header>
      <ion-item>
        <ion-label style="color:rgb(196, 61, 196)">
          <h1 translate>LIVE.MEETINGS</h1>
        </ion-label>
        <ion-icon slot="end" name="list-outline" (click)="viewLive()"></ion-icon>
      </ion-item>
    </ion-card-header>

    <ion-card-content>
      <ion-list *ngFor="let meeting of live$ | async">
        <ion-item-sliding>
          <ion-item>
            
            <ion-label style="color:rgb(76, 194, 60)" text-wrap>{{meeting.name}}</ion-label>


            <ion-icon slot="end" name="infinite-outline" *ngIf="meeting.continuous"></ion-icon>
            <ion-item slot="end">
              <ion-label *ngIf="!meeting.continuous">{{meeting.startTimeFormatLocal | date:'h:mm a EEEE'}}
              </ion-label>
              <ion-icon name="videocam-outline" *ngIf="meeting.isLive"></ion-icon>
            </ion-item>

            <ion-icon slot="end" name="heart-outline" (click)="addFavorite(meeting)" *ngIf="!isFavorite(meeting)">
            </ion-icon>
            <ion-icon slot="end" name="heart" (click)="removeFavorite(meeting)" *ngIf="isFavorite(meeting)"></ion-icon>
          </ion-item>

          <ion-item-options side="end">
            <ion-item-option (click)="blockeeting(meeting)">Block</ion-item-option>
            <ion-item-option (click)="viewMeeting(meeting)">Info</ion-item-option>
            <ion-item-option (click)="joinMeeting(meeting)" *ngIf="meeting.isLive">Join</ion-item-option>
            <ion-item-option (click)="remindMeeting(meeting)">Remind</ion-item-option>
          </ion-item-options>
        </ion-item-sliding>
      </ion-list>
    </ion-card-content>
  </ion-card>

  <ion-item>
    <!-- <p>
      AnonymousMeetings relies on your support to fund it's 
      development.  If you find it useful and motivating to
      get and remain in recovery, please consider supporting the
      app by buying me a coffee.  Any tip given will
      also remove all advertisements from the app.
  </p> -->
    <a href="https://www.buymeacoffee.com/mikkimichaelis">
      <img
        src="https://img.buymeacoffee.com/button-api/?text=Please buy me a coffee&emoji=&slug=mikkimichaelis&button_colour=f4a4c0&font_colour=000000&font_family=Cookie&outline_colour=000000&coffee_colour=FFDD00" />
    </a>
  </ion-item>

</ion-content>