.signup {
    padding-top: 5%;
    text-align: center;
}

.login {
    padding-top: 5%;
    text-align: center;
}

ion-button {
    width: 200px;
}

div {
    margin-left: 50px;
    margin-right: 50px;
}