# Specifies intentionally untracked files to ignore when using Git
# http://git-scm.com/docs/gitignore

!/plugins/cordova-universal-links-plugin/hooks/lib/ios/xcodePreferences.js

*~
*.sw[mnpcod]
.tmp
*.tmp
*.tmp.*
*.sublime-project
*.sublime-workspace
.DS_Store
Thumbs.db
UserInterfaceState.xcuserstate
$RECYCLE.BIN/

*.log
log.txt
npm-debug.log*

/.idea
/.ionic
/.sass-cache
/.sourcemaps
/.versions
/coverage
/dist
/node_modules
/node_modules.bak
/platforms

# /.vscode
/.firebase

# But do not ignore "plugins" because we need something from its internals...
!plugins/

# ... but ignore (almost all) the content of "plugins"...
plugins/*
# ... however, do not ignore "That/Very" because we need to dig more into it
!plugins/cordova-universal-links-plugin/
# ... but ignore (almost all) the content of "plugins"...
plugins/cordova-universal-links-plugin/*
# ... however, do not ignore "That/Very" because we need to dig more into it
!plugins/cordova-universal-links-plugin/hooks
# ... but ignore (almost all) the content of "plugins"...
plugins/cordova-universal-links-plugin/hooks/*
# ... however, do not ignore "That/Very" because we need to dig more into it
!plugins/cordova-universal-links-plugin/hooks/lib
# ... but ignore (almost all) the content of "plugins"...
plugins/cordova-universal-links-plugin/hooks/lib/*

# ... however, do not ignore "That/Very" because we need to dig more into it
!plugins/cordova-universal-links-plugin/hooks/lib/ios
# ... but ignore (almost all) the content of "plugins"...
plugins/cordova-universal-links-plugin/hooks/lib/ios/*
# ... however, do not ignore "That/Very" because we need to dig more into it
!plugins/cordova-universal-links-plugin/hooks/lib/ios/xcodePreferences.js

# ... however, do not ignore "That/Very" because we need to dig more into it
!plugins/cordova-universal-links-plugin/hooks/lib/android
# ... but ignore (almost all) the content of "plugins"...
plugins/cordova-universal-links-plugin/hooks/lib/android/*
# ... however, do not ignore "That/Very" because we need to dig more into it
!plugins/cordova-universal-links-plugin/hooks/lib/android/manifestWriter.js

!platforms/
platforms/*
!platforms/android/
platforms/android/*
!platforms/android/app
platforms/android/app/*
!platforms/android/app/build.gradle

/www
/src/environments

!resources/
resources/*
!resources/icon.png
!resources/splash.png

!resources/android
resources/android/*
!resources/android/xml
resources/android/xml/*
!resources/android/xml/network_security_config.xml

!resources/images





