<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title translate>TITLE.MEETINGS.SEARCH</ion-title>
    <ion-label>{{this.groupsSvc.verbose}}</ion-label>
    <ion-buttons slot="end">
      <ion-button (click)="presentSettings()">
        <ion-icon name="settings-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen="true">

  <ion-grid fixed>
    <ion-row>
      <ion-col size="12" size-md="6" *ngFor="let group of groupsSvc.groups | async">
        <ion-card class="group-card">
          <ion-card-header>
            <ion-item>
              <ion-label style="background-color: lightgreen;">
                <h2>{{group.name}}</h2>
                <p>{{group.schedules[0].day}} {{group.schedules[0].time}}</p>
                <p>{{group.hitMetadata.distance}}</p>
              </ion-label>
              <ion-avatar slot="end">
                <img (click)="attend(group.id)" src="../../../assets/img/groups/attend.png">
              </ion-avatar>
              <ion-item routerLink="/group/tab/group" routerDirection="forward">
                <ion-label>Sign Up</ion-label>
               </ion-item>
            </ion-item>
          </ion-card-header>

          <ion-card-content>
            <ion-item detail="false" routerLink="/app/tabs/groups/group-details/{{group.id}}">
              <ion-label>
                {{ group.name }}<br />
                {{ group.schedules[0].time }}<br />
                {{ group.location.name }}<br />
                {{ group.location.address }} {{ group.location.city }}, {{ group.location.state }}
              </ion-label>
            </ion-item>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>