<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title translate>TITLE.ADMIN</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="addMeeting()">
        <ion-icon name="add-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <!-- <ion-button (click)="addMeeting()">Add Meeting</ion-button> -->
  <!-- <ion-list *ngFor="let meeting of meetings">
    <ion-item>
      <ion-label>{{meeting.name}}</ion-label>
    </ion-item>
  </ion-list> -->
</ion-content>