<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title translate>TITLE.ADD.MEETING</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form [formGroup]="addForm" (ngSubmit)="submitForm()" novalidate>
    <ion-row>
      <ion-col>
        <ion-button (click)="submitForm()">Submit</ion-button>
      </ion-col>
      <ion-col>
        <ion-button (click)="dismiss()">Cancel</ion-button>
      </ion-col>
    </ion-row>
     <ion-card>
      <ion-card-content>
        <p>
          All data provided below is verified by hand, so please be accurate.
          Please add known actively scheduled Zoom 12-Step admin.
        </p>

        <ion-item lines="full">
          <ion-label position="start">I am the Zoom Meeting Owner</ion-label>
          <ion-checkbox slot="end" formControlName="owner"></ion-checkbox>
        </ion-item>

        <ion-item lines="full">
          <ion-label position="floating">Meeting Number</ion-label>
          <ion-input formControlName="zoomMeetingNumber" type="text" required></ion-input>
        </ion-item>

        <ion-item lines="full">
          <ion-label position="floating">Meeting Name</ion-label>
          <ion-input formControlName="name" type="text" required></ion-input>
        </ion-item>

        <ion-item lines="full">
          <ion-label position="floating">Meeting Topic</ion-label>
          <ion-input formControlName="topic" type="text" required></ion-input>
        </ion-item>

        

        <ion-item lines="full">
          <ion-label position="start">Continuous 24h Meeting</ion-label>
          <ion-checkbox slot="end" formControlName="continuous"></ion-checkbox>
        </ion-item>

      </ion-card-content>
    </ion-card>

    <ion-card *ngIf="showRecurrence">
      <ion-card-content>

        <ion-item lines="full">
          <ion-label position="floating">Timezone</ion-label>
          <ion-select placeholder="Select Timezone" formControlName="timezone">
            <ion-select-option value="-5">Eastern Standard</ion-select-option>
            <ion-select-option value="-6">Central Standard</ion-select-option>
            <ion-select-option value="-7">Mountain Standard</ion-select-option>
            <ion-select-option value="-8">Pacific Standard</ion-select-option>
            <ion-select-option value="-9">Alaska Standard</ion-select-option>
            <ion-select-option value="-10">Hawaii Standard</ion-select-option>
          </ion-select>
        </ion-item>

        <ion-item lines="full">
          <ion-label position="floating">Start Time</ion-label>
          <ion-datetime #timePickerEnd formControlName="startTime" display-format="h:mm A" picker-format="h:mm A">
        </ion-datetime>
        </ion-item>

        <ion-item lines="full">
          <ion-label position="floating">Duration</ion-label>
          <ion-select placeholder="Select Duration" formControlName="duration">
            <ion-select-option value=30>30 min</ion-select-option>
            <ion-select-option value=60>60 min</ion-select-option>
            <ion-select-option value=90>90 min</ion-select-option>
            <ion-select-option value=120>120 min</ion-select-option>
          </ion-select>
        </ion-item>

      </ion-card-content>
    </ion-card>

    <ion-card *ngIf="showRecurrence">
      <ion-card-content>

        <ion-item lines="full">
          <ion-label position="floating">Repeat Every</ion-label>
          <ion-select placeholder="Repeat Every" formControlName="recurrenceType">
            <ion-select-option value="1">Day</ion-select-option>
            <ion-select-option value="2">Week</ion-select-option>
          </ion-select>
        </ion-item>

        <ion-item lines="full" *ngIf="recurrenceType === '2'">
          <ion-label position="floating">On Day</ion-label>
            <ion-select placeholder="Select Day" formControlName="weekly_day">
              <ion-select-option value=0>Sunday</ion-select-option>
              <ion-select-option value=1>Monday</ion-select-option>
              <ion-select-option value=2>Tuesday</ion-select-option>
              <ion-select-option value=3>Wednesday</ion-select-option>
              <ion-select-option value=4>Thursday</ion-select-option>
              <ion-select-option value=5>Friday</ion-select-option>
              <ion-select-option value=6>Saturday</ion-select-option>
            </ion-select>
        </ion-item>

      </ion-card-content>
    </ion-card>
  </form>
</ion-content>