<ion-tabs>
  <!-- Search, Map, Admin -> Info, Group Feed, Calendar, Ride Request (Notice), Attendance -->
  <ion-tab-bar slot="bottom">
    
    <ion-tab-button tab="admin">
      <ion-icon name="star-outline"></ion-icon>
      <ion-label translate>Manage</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="add">
      <ion-icon name="search-outline"></ion-icon>
      <ion-label translate>Add</ion-label>
      <!-- Details (location, zoom), Feed, Posts, Events -->
    </ion-tab-button>


  </ion-tab-bar>

</ion-tabs>