<ion-header>
  <ion-toolbar>
    <ion-title translate>TITLE.ANONYMOUS.MEETINGS</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content *ngIf="showLanding">
  <!-- <div class="login">
    <p translate>LANDING.SIGNIN.TXT</p>
    <ion-button (click)="doSign(false)" translate>LANDING.SIGNIN</ion-button>
  </div> -->

  <div class="signup">
    <p translate>LANDING.SIGNUP.TXT</p>
  <ion-button (click)="doSign(false, true)" translate>LANDING.SIGNUP</ion-button>
  </div>

  <div class="login">
    <p translate>LANDING.ANONYMOUS.TXT</p>
    <ion-button (click)="doSign(true)" translate>LANDING.ANONYMOUS</ion-button>
  </div>

  <!-- <div class="login">
    <p translate>LANDING.ANONYMOUS.COMPLETE.TXT</p>
    <ion-button (click)="doSign(false, true, true)" translate>LANDING.ANONYMOUS.COMPLETE</ion-button>
  </div> -->
</ion-content>
