<ion-tabs>

  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="admin">
      <ion-icon name="construct-outline"></ion-icon>
      <ion-label>Meeting Admin</ion-label>
      <!-- Details (location, zoom), Feed, Posts, Events -->
    </ion-tab-button>

    <ion-tab-button tab="minutes">
      <ion-icon name="list-circle-outline"></ion-icon>
      <ion-label>Meeting Minutes</ion-label>
    </ion-tab-button>

    <!-- <ion-tab-button tab="host">
      <ion-icon name="document-text-outline"></ion-icon>
      <ion-label>Host Meeting</ion-label>
    </ion-tab-button> -->

  </ion-tab-bar>

</ion-tabs>


