<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title translate>TITLE.FAVORITES</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list *ngFor="let meeting of this.meetingService.favoriteMeetings$ | async">
    <ion-item-sliding>
      <ion-item>
        <ion-label>{{meeting.name}}</ion-label>

        <ion-label>{{meeting.startTimeFormatLocal | date:'h:mm a'}}</ion-label>
        <!-- <ion-label>{{meeting.participants}}</ion-label>
      <ion-label>{{meeting.remainingMinutes}}</ion-label> -->

        <!-- <ion-button (click)="chatWithFriend(friend)">Chat</ion-button> -->
      </ion-item>
      <ion-item-options side="end">
        <ion-item-option (click)="viewMeeting(meeting)">Info</ion-item-option>
        <ion-item-option (click)="joinMeeting(meeting)" *ngIf="meeting.isLive">Join</ion-item-option>
      </ion-item-options>
    </ion-item-sliding>
  </ion-list>
</ion-content>