<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>

    <!-- <ion-segment>
      <ion-segment-button value="friends">
        <ion-label>People</ion-label>
      </ion-segment-button>
      <ion-segment-button value="enemies">
        <ion-label>Enemies</ion-label>
      </ion-segment-button>
    </ion-segment> -->

  </ion-toolbar>
</ion-header>

<ion-content>
<!-- <cometchat-group-list></cometchat-group-list> -->
<cometchat-contact-list (actionPerformed)=onItemSelected($event)></cometchat-contact-list>

</ion-content>