<ion-header>
  <ion-toolbar>
    <ion-title translate>Register Meeting</ion-title>
    <ion-buttons slot="start">
      <ion-button (click)="dismiss()" translate>CLOSE</ion-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button color="pink" expand="block" translate>FAV</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-content>
      <p>
        <!-- All data provided below is verified by hand, so please be accurate.
          Please add only known actively scheduled Zoom 12-Step meetings.  
          
          Note, this does not create a Zoom Meeting, that must be done first in Zoom. -->
      </p>

      <ion-item>
        <ion-label>Zoom Meeting Owner</ion-label>
        <ion-label>{{meeting.isZoomOwner}}</ion-label>
      </ion-item>

      <ion-item>
        <ion-label>Meeting Number</ion-label>
        <ion-label>{{meeting.zid}}</ion-label>
      </ion-item>

      <ion-item>
        <ion-label>Meeting Password</ion-label>
        <ion-label>{{meeting.password}}</ion-label>
      </ion-item>

      <ion-item>
        <ion-label>Meeting Name</ion-label>
        <ion-label>{{meeting.name}}</ion-label>
      </ion-item>

      <ion-item>
        <ion-label>Meeting Topic</ion-label>
        <ion-label>{{meeting.topic}}</ion-label>
      </ion-item>

      <ion-item>
        <ion-label>Continuous 24h Meeting</ion-label>
        <ion-label>{{meeting.continuous}}</ion-label>
      </ion-item>

    </ion-card-content>
  </ion-card>

  <ion-card *ngIf="showRecurrence">
    <ion-card-content>

      <ion-item>
        <ion-label>Timezone</ion-label>
        <ion-text>{{meeting.timezone}}</ion-text>
      </ion-item>

      <ion-item>
        <ion-label>Start Time</ion-label>
        <ion-label>{{meeting.startTime}}</ion-label>
      </ion-item>

      <ion-item>
        <ion-label>Duration</ion-label>
        <ion-label>{{meeting.duration}}</ion-label>
      </ion-item>

    </ion-card-content>
  </ion-card>

  <ion-card *ngIf="showRecurrence">
    <ion-card-content>

      <ion-item>
        <ion-label>Repeat Every</ion-label>
        <ion-label>{{meeting.recurrence.type}}</ion-label>
      </ion-item>

      <ion-item *ngIf="recurrenceType === '2'">
        <ion-label>On Day</ion-label>
        <ion-label>{{meeting.recurrence.weekly_day}}</ion-label>
      </ion-item>

    </ion-card-content>
  </ion-card>
</ion-content>